{% extends "bash_dress.html" %}
{% block where %}首页{% endblock %}

{% block breadcrumb %}
  <!-- 核心样式：text-4xl（超大号） + 淡蓝→淡黄渐变 + 加粗 -->
  <span class="text-5xl font-semibold bg-gradient-to-r from-sky-100 to-yellow-100 bg-clip-text text-transparent">
    与你的每一天就是奇迹
  </span>
{% endblock %}
{% set photo1 = "images/hina2_1.png" %}
{% set photo2= "images/hina2_2.jpg" %}
{% block name1 %}そらさき{% endblock %}
{% block name2 %}空崎 ヒナ（ドレス）{% endblock %}
{% block name3 %}阳奈（礼服）{% endblock %}
{% block name4 %}日奈（礼服）{% endblock %}
{% block school %}格黑娜学园{% endblock %}
{% block year %}17{% endblock %}
{% block birthday %}2月19日{% endblock %}
{% block tell %}142{% endblock %}
{% block writer %}DoReMi{% endblock %}
{% block level %}5{% endblock %}
{% block love %}睡眠、休息{% endblock %}
{% block saying %}为了参加派对换上了礼服裙，所属格黑娜学园的风纪委员长。虽然平时觉得什么都很麻烦，但听老师说老师非常期待格黑娜的派对，表现出比平时稍微紧张些的样子。从决定在老师面前演奏那天起，即便是不擅长的钢琴练习也比平常更努力了。
{% endblock %}
{% block saying1_1 %}また年が明けたね。{% endblock %}
{% block saying1_2 %}先生。こうして新たな年をあなたと 積み重ねていくんだね。ふふ。私にとっては とても嬉しいことよ。{% endblock %}
{% block saying2 %}ノン・トロッポ。{% endblock %}
{% block name5 %}hina{% endblock %}

