{% extends "bash_dress.html" %}
{% block where %}首页{% endblock %}

{% block breadcrumb %}
  <!-- 核心样式：text-4xl（超大号） + 淡蓝→淡黄渐变 + 加粗 -->
  <span class="text-5xl font-semibold bg-gradient-to-r from-sky-100 to-yellow-100 bg-clip-text text-transparent">
    与你的每一天就是奇迹
  </span>
{% endblock %}
{% set photo1 = "images/hina3_1.png" %}
{% set photo2= "images/hina3_2.jpg" %}
{% block name1 %}そらさき{% endblock %}
{% block name2 %}空崎 ヒナ（水着）{% endblock %}
{% block name3 %}阳奈（泳装）{% endblock %}
{% block name4 %}日奈（泳装）{% endblock %}
{% block school %}格黑娜学园{% endblock %}
{% block year %}17{% endblock %}
{% block birthday %}2月19日{% endblock %}
{% block tell %}142{% endblock %}
{% block writer %}DoReMi{% endblock %}
{% block level %}5{% endblock %}
{% block love %}睡眠、休息{% endblock %}
{% block saying %}格黑娜学园所属的风纪委员长，为了夏季集训而来到了海边。
几乎没有在海边玩过的她，泳衣和泳圈看起来都是以前的东西。即使说着“不穿就太浪费了”这样的理由，但是心底还是稍微在意着自己还能穿上旧泳衣的事实。
但是不管无论是什么样的打扮、季节或是地点，她对风纪的严格也丝毫没有改变。
"就算是夏天，要做的事也没有改变"{% endblock %}
{% block saying1_1 %}海には常に危険が伴う。{% endblock %}
{% block saying1_2 %}いつどこで事故が起こるか分からないから、気を付けて。 その……。何かあったら、私のことを呼んでくれれば。{% endblock %}
{% block saying2 %}今年の夏も、よろしく。{% endblock %}
{% block name5 %}hina{% endblock %}

