{% extends "bash_dress.html" %}
{% block where %}首页{% endblock %}

{% block breadcrumb %}
  <!-- 核心样式：text-4xl（超大号） + 淡蓝→淡黄渐变 + 加粗 -->
  <span class="text-5xl font-semibold bg-gradient-to-r from-sky-100 to-yellow-100 bg-clip-text text-transparent">
    与你的每一天就是奇迹
  </span>
{% endblock %}
{% set photo1 = "images/hoshino1_1.png" %}
{% set photo2= "images/hoshino1_2.jpg" %}
{% block name1 %}たかなし{% endblock %}
{% block name2 %}小鳥遊 ホシノ{% endblock %}
{% block name3 %}星野{% endblock %}
{% block name4 %}星野{% endblock %}
{% block school %}阿拜多斯高中{% endblock %}
{% block year %}15{% endblock %}
{% block birthday %}1月2日{% endblock %}
{% block tell %}145{% endblock %}
{% block writer %}9ml{% endblock %}
{% block level %}9{% endblock %}
{% block love %}白天睡觉、偷懒{% endblock %}
{% block saying %}阿拜多斯高中学生会的前副会长，现在是担任对策委员会的委员长的慵懒少女。拥有大叔似的说话口气，比起工作更喜欢玩耍。虽然因为偷懒会常常被委员会的伙伴说教，可一旦执行任务，就会为了守护伙伴而奋斗在最前线。
【通关Vol1.3主线后，个人简介将更改为下文】
阿拜多斯高中学生会的会长，现在是担任对策委员会的委员长的慵懒少女。拥有大叔似的说话口气，比起工作更喜欢玩耍。虽然因为偷懒会常常被委员会的伙伴说教，可一旦执行任务，就会为了守护伙伴而奋斗在最前线。自从接受了学生会长的头衔，她渐渐变得开朗起来。或许这才是真正的星野吧。
“呼哈～随便搞搞就行啦～
适当咸鱼一下也是很重要的嘛～”{% endblock %}
{% block saying1_1 %}先生、これでもう一度頑張ってみるから。{% endblock %}
{% block saying1_2 %}これからもよろしく～{% endblock %}
{% block saying2 %}あまり肩に力入れなくていいよ～リラックスが大事だし。{% endblock %}
{% block name5 %}hina{% endblock %}

