{% extends "bash_dress.html" %}
{% block where %}首页{% endblock %}

{% block breadcrumb %}
  <!-- 核心样式：text-4xl（超大号） + 淡蓝→淡黄渐变 + 加粗 -->
  <span class="text-5xl font-semibold bg-gradient-to-r from-sky-100 to-yellow-100 bg-clip-text text-transparent">
    与你的每一天就是奇迹
  </span>
{% endblock %}
{% set photo1 = "images/hoshino2_1.png" %}
{% set photo2= "images/hoshino2_2.jpg" %}
{% block name1 %}たかなし{% endblock %}
{% block name2 %}小鳥遊 ホシノ（水着）{% endblock %}
{% block name3 %}星野（泳装){% endblock %}
{% block name4 %}星野（泳装){% endblock %}
{% block school %}阿拜多斯高中{% endblock %}
{% block year %}15{% endblock %}
{% block birthday %}1月2日{% endblock %}
{% block tell %}145{% endblock %}
{% block writer %}9ml{% endblock %}
{% block level %}3{% endblock %}
{% block love %}白天睡觉、滚来滚去{% endblock %}
{% block saying %}阿拜多斯高中所属，为了追求悠闲度过夏日而来到无人岛的对策委员会的委员长。
与表面上怕麻烦的态度相反，做准备的时候却很认真。但是，似乎本人没有意识到自己比平常稍微积极的样子。
"来这边呀老师～
还挺凉快的哦？"{% endblock %}
{% block saying1_1 %}ここまでしてくれるとか…本当、変わってるね、先生も。{% endblock %}
{% block saying1_2 %}まあ、いいけど。 うん…じゃ私も、今まで以上に頑張らないとね{% endblock %}
{% block saying2 %}いつもありがとうねぇ{% endblock %}
{% block name5 %}hoshino{% endblock %}

