{% extends "bash_dress.html" %}
{% block where %}首页{% endblock %}

{% block breadcrumb %}
  <!-- 核心样式：text-4xl（超大号） + 淡蓝→淡黄渐变 + 加粗 -->
  <span class="text-5xl font-semibold bg-gradient-to-r from-sky-100 to-yellow-100 bg-clip-text text-transparent">
    与你的每一天就是奇迹
  </span>
{% endblock %}
{% set photo1 = "images/hoshino3_1.png" %}
{% set photo2= "images/hoshino3_2.jpg" %}
{% block name1 %}たかなし{% endblock %}
{% block name2 %}小鳥遊 ホシノ（臨戦）{% endblock %}
{% block name3 %}星野（武装）{% endblock %}
{% block name4 %}星野（武装）{% endblock %}
{% block school %}阿拜多斯高中{% endblock %}
{% block year %}15{% endblock %}
{% block birthday %}1月2日{% endblock %}
{% block tell %}145{% endblock %}
{% block writer %}9ml{% endblock %}
{% block level %}3{% endblock %}
{% block love %}白天睡觉、滚来滚去{% endblock %}
{% block saying %}阿拜多斯高中所属，阿拜多斯学生会的前副会长，目前担任阿拜多斯对策委员会会长的懒惰少女。
穿上了保存已久的武装后，变成了更适合战斗的风格。尽管与平时的星野相比没有太大变化，但是因为武装状态，所以能够看到星野认真的神情。
*通关Vol.1第三章剧情后，“原副会长”变为“学生会长”{% endblock %}
{% block saying1_1 %}こ…まあ、先生が相棒役をそれは、そうだけどさぁ～おじさんはこれが好きなんだ。{% endblock %}
{% block saying1_2 %}大目にみてよ～{% endblock %}
{% block saying2 %}またこんなの、おじさん照れちゃうよ~{% endblock %}
{% block name5 %}hoshino{% endblock %}

