{% extends "bash_dress.html" %}
{% block where %}首页{% endblock %}

{% block breadcrumb %}
  <!-- 核心样式：text-4xl（超大号） + 淡蓝→淡黄渐变 + 加粗 -->
  <span class="text-5xl font-semibold bg-gradient-to-r from-sky-100 to-yellow-100 bg-clip-text text-transparent">
    与你的每一天就是奇迹
  </span>
{% endblock %}
{% set photo1 = "images/wink1_1.png" %}
{% set photo2= "images/wink1_2.jpg" %}
{% block name1 %} {% endblock %}
{% block name2 %}春原瞬{% endblock %}
{% block name3 %}旬（幼女）{% endblock %}
{% block name4 %}瞬（小）{% endblock %}
{% block school %}山海经高级中学{% endblock %}
{% block year %}自称9{% endblock %}
{% block birthday %}2月5日{% endblock %}
{% block tell %}未测定{% endblock %}
{% block writer %}9ml{% endblock %}
{% block level %}6{% endblock %}
{% block love %}吃甜食{% endblock %}
{% block saying %}山海经高级中学所属，喝下纱绫的药，身体变回到了小时候的样子，训育支援部“梅花园”的教官。
因为只有身体变小了，所以也不能像以前那样照顾孩子们。
似乎被幼小的身体牵引着，她的精神本能地向往着教育。{% endblock %}
{% block saying1_1 %}こっ、子供扱いしないでください……！{% endblock %}
{% block saying1_2 %}これでも心は変わらず、みんなのお姉さんですから！{% endblock %}
{% block saying2 %}
はい！こんな体ですが私はシュンですよ！{% endblock %}
{% block name5 %}wink{% endblock %}

